body{
    margin-left: 5%;
    margin-right: 3%;
}

.m-t{
    margin-top: 15px;
}

.none{
    text-decoration: none;
    color: black;
}

.location{
    color: red;
}

.nav-btn{
    background-color: rgb(255, 208, 0);
    border: none;
    padding: 8px;
    margin-bottom: 5px;
}

.color-red{
    color: rgb(208, 0, 0);
    font-size: 2rem;
}

.card{
    border: 1px solid rgb(87, 87, 87);
}

.bg-yellow{
    background-color: #ffbc0d;
    padding: 2%;
    margin: 5% 33%;
    border: none;
}

.m-b-12{
    margin-bottom: 12%;
}

.gap-17{
    gap: 17%;
}

.last-card{
    width: 450px;
}

.mar-bot{
    margin-bottom: 80px;
}

.hover-link {
  text-decoration: none;
}

.hover-link:hover {
  border-bottom: 6px solid rgb(208, 0, 0);
}
